#carro{
    height: 100%; 
    width: 100%;
    position: fixed;
    background: #e11717c5;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    box-shadow: 0 5px 20px rgb(244, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carro-de-compras{
    z-index: 100;
       bottom: -200%;
       transition: all 1.0s cubic-bezier(0, -0.015, 0.18, 0.73);
}

.abri{
    bottom: 0;
    transition: all 1.0s cubic-bezier(0, -0.015, 0.18, 0.73);
    z-index: 100;
}

.dados input{
  font-size: 20px;
  background: #eeeeeec7;
  width: 100%;
  margin-bottom: 15px;
  height: 45px;
  border-radius: 30px;
  border: none;
}
.bandeira{
  border-radius: 30px;
  font-size: 17px;
}

.btn {
  width: 100%;
  margin-top: 1rem;
  height: 40px;
  border-radius: 30px;
  background: #03d826;
  border: none;
  box-shadow: 0px 1px 15px #03d826;
}














.container{
    margin-top: 5rem;
    overflow-y: scroll;
    height: 90vh;
  }
  
  
  .cart-table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .table-head-item {
      text-align: start;
      border-bottom: 1px solid var(--gray);
      padding-bottom: 6px;
      text-transform: uppercase;
    }
    
    .second-col,
    .third-col {
      width: 26%;
    }
    
    .cart-product td {
      padding: 8px 0;
    }
    
    .product-identification {
      display: flex;
      align-items: center;
    }
    
    .cart-product-image {
      width: 50px;
      height: 100px;
    }
    
    .cart-product-title {
      margin-right: 20px;
      font-size: 18px;
    }
    
    .cart-product-price {
      font-family: "Raleway", sans-serif;
    }
    
    .product-qtd-input {
      width: 48px;
      height: 34px;
      border-radius: 6px;
      border: 2px solid var(--blue);
      text-align: center;
      background: #eee;
    }
    
    .bxs-x-square {
      
      margin-top: -25px;
      margin-left: -200px;
      background: #ff0000;
      color: var(--white);
      padding: 5px 2px;
      border: 0;
      border-radius: 6px;
    
      transition: 2.5s all ease;
    }
    .bxs-x-square, i{
      color: #fff;
      font-size: 30px;
    }
    
    .remove-product-button:hover {
      filter: brightness(0.8);
    }
    
    .cart-total-container {
      border-top: 1px solid var(--gray);
      text-align: end;
      padding: 6px 16px 0 0;
      font-size: 18px;
    }
    
    .cart-total-container strong {
      margin-right: 12px;
    }
    
    .purchase-button {
      display: flex;
      margin: 24px auto 0;
      background: var(--blue);
      color: var(--white);
      border: 0;
      border-radius: 6px;
      padding: 16px 20px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
    
      transition: filter 0.2s;
    }
    
    .purchase-button:hover {
      filter: brightness(0.8);
    }

    .bx-flip-horizontal{
        position: absolute;
        font-size: 40px;
        color: #eee;
        margin-top: -600px;
       

    }
    i{
      position: absolute;
      font-size: 40px;
      color: #eee;
      margin-top: -15px;
    }
    
    