@media screen and (min-width: 0px){
    body{
        max-width: 460px;
    }
    /* nave */

    

    /* fim */

    /* barra de navegação */
    header ul{
        max-width: 412px;
    }
    /* fim */
    /* botao de remover produto do carrinho */
    .bxs-x-square {
        position: relative;
        margin-top: -2px;
        margin-left: -45px;
        padding: 5px 2px;
    }
    .bx-flip-horizontal{
        margin-top: -700px;
    }
    /* fim */
}
@media screen and (min-width: 720px){
      /* barra de navegação */
      header ul{
        max-width: 850px;
    }
    /* fim */
}

@media screen and (min-width: 1080px){
     /* barra de navegação */
     header ul{
        max-width: 100vw;
    }
    /* fim */
}